# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=lf

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# Binary files — never apply text/EOL conversion.
*.doc binary
*.docx binary
*.pdf binary
*.xlsx binary
*.pfx binary
*.cer binary
*.png binary
*.jpg binary
*.gif binary
